header{
	border-bottom: solid 1px #E8E8E8;
}

@media (min-width: 768px){
	.container {
		width: 768px;
	}
}

@media (min-width: 992px){
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px){
	.container {
		width: 1170px;
	}
}

.container{
	padding-left: 15px;
	padding-right: 5px;
}

.navbar-default{
	background: none;
	border: none;
}
.navbar{
	background: #F0F8FF;
	font-weight: 600;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-brand{
	height: 40px;
	padding: 0;
}
.navbar-brand>img{
	width:4em;
}
.nav>li>a>img {
    max-width: 1.5em;
}
section{
	padding: 70px;
}
.container2{
	width: 90%;	
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.submenu2 .dropdown-menu{
	top: 50%;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
 }