.container{
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-default{
	background: none;
	border: none;
}
.navbar{
	background: #F0F8FF;
	font-weight: 600;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-brand{
	height: 40px;
	padding: 0;
}
.navbar-brand>img{
	width:4em;
}
.nav>li>a>img {
    max-width: 1.5em;
}
section{
	padding: 70px;
}
.container2{
	width: 90%;
}
.navbar-right .dropdown-menu{
	right: auto;
	left: 0;
}

.navbar-form{
	margin-top: 0;
}
.modal-content{
	border-radius: 0;
}
.btnadd{
	border-radius: 0;
}
.btn1{
	margin-right:20px;
	border-radius: 0;
}
.modal-sm{
	width: 80%;
}
.form-group1{
	border-radius: 0;
    margin: 2% 20px;
}
.form-control{
	border-radius: 0;
}
.lbl{
	text-align: center;
}

div #content > input{
	margin: 5px;
}

@media (min-width: 768px){
	.container {
		width: 768px;
	}
}

@media (min-width: 992px){
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px){
	.container {
		width: 1170px;
	}
}
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #E8E8E8;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 20px;
  transition: 0.3s;
  font-size: 15px;
  width: 25%;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #EEEEEE;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #F8FFFF;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#phanloaihoso {background-color: #F8FFFF;}
#phieukiemsoat {background-color: #F8FFFF;}
#QDXP {background-color: #F8FFFF;}
#TTXPVPHC {background-color: #F8FFFF;}